{
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "es5",
	"printWidth": 90,
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"useTabs": true,
	"endOfLine": "auto",
	"indent_style": "tab",
	"indent_size": 4
}
